
.testimonials__container {
  width: 40%;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-bg);
}

.testimonial {
  background: var(--color-bg-variant3);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

#testimonials h2 {
  margin-bottom: 0;
}

#testimonials .reviews {
  margin-bottom: 3rem;
}

.client__review {
  color: var(--color-light);
  font-size: 1rem;
  font-weight: 400;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.reviews a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

//Tablet
@media screen and ( max-width: 1024px) {
  .container.testimonials__container {
    width: 60%;
  }
}

//Mobile
@media screen and ( max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm)
  }

  .client__review {
    width: var(--container-width-sm)
  }
} 